*
{
    padding: 0;
    margin: 36;
}

.page_header,
.text_section
{
    padding: 193px 480px;
    max-width: 493px;
}
h1,h2
{
    font-family: Crete Round;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.9000000953674316px;
    text-align: left;
    letter: 2.9 px;
    color: #060C31;
}
h2
{
    font-size: 34px;
    line-height: 43,38px;
    letter-spacing: 2.9000000953674316px;
    letter: 2.9 px;    }
h1
{
    font-size: 58px;
    line-height: 64px;
    letter-spacing: 2.9000000953674316px;
    blend: Pass through;
}
p
{
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
}

.page_button
{
    padding: 16px, 36px, 16px, 36px;
    height: 50px;
    width: 156px;
    top: 553px;
    left: 480px;
    border-radius: 50px;
    font-family: 'Lato';
    color: #fff;
    background-color:#233FE2;
    font-size: 15px;
    font-style: bold;
    margin-top: 16;
    margin-left: 36;
    letter-spacing: 0px;
    text-align: center;
}
.page_button2
{
    padding: 16px, 36px, 16px, 36px;
    height: 50px;
    width: 156px;
    top: 553px;
    left: 480px;
    border-radius: 50px;
    font-family: 'Lato';
    color: #060C31;
    background-color:#fff;
    font-size: 15px;
    font-style: bold;
    margin-top: 16;
    margin-left: 36;
    letter-spacing: 0px;
    text-align: center;
}
