*
{
    margin: 0;
    padding: 0;
}
.head
{
    display: flex;
    padding-top: 38px;
    margin-left: 120px;
    justify-content: space-between;
    flex-direction: row;
    width: 1920px;
}

.logo
{
    width: 203px;
    height: 38px;
    align-items: center;
}

.menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-right: 20px;
}
.button
{   text-decoration: none;
    padding: 19px 40px 19px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #05090C;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 120px;
    text-align: center;
}

.top-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 90px 205px 20px 220px;
}

.button2
{   text-decoration: none;
    padding: 19px 40px 19px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #05090C;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 120px;
    text-align: center;
    width: 332px;
    height: 55px;
}

.course_description
{
    align-items: center;
    flex-shrink: 0;
}
.title,
.title_pink
{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    line-height: 122px;
    font-size: 100px;
    font-weight: 600;
}
.table_title_pink,
.title_pink
{
    display: inline;
    color: #EE58B6;
    margin-bottom: 40px;
}
.text-description
{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 31px;
    font-size: 26px;
    margin-bottom: 46px;
    max-width: 747px;
}

.done-picture
{
    align-items: center;
    flex-shrink: 1;
}

.middle_grid
{
    display: grid;
    background: black;
    grid-gap: 106px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 398px;
    align-items: center;
    justify-items: center;
    width: 1920px;
}

.middle_grid1
{
    padding-left: 382px;
    display: block;
    align-content: center;
}

.middle_grid3
{
    padding-right: 382px;
}

.middle_grid_image
{
    margin-bottom: 24px;
    margin-left: 100px;
    align-content: center;
}

.middle_grid_text
{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 26px;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 400;
    width:303px;
    height: 52px;
}

.bottom-container
{   padding-right: 391px;
    padding-left: 391px;
    padding-top: 137px;
    width: 1135px;
}

.bottom-container_block
{
    display: flex;
    flex-direction: row;
    width: 1136px;
    align-items: center;
    justify-content: space-between;
}

.bottom-container_description
{
    align-items: center;
    flex-shrink: 0;
    width: 547px;
}

.bottom_container_image
{
    align-items: center;
    display: inline-block;
}

.bottom_container_title
{
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 26px;
}

.bottom_container_text
{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
}
.table_block
{
    max-width: 1134px;
    display: inline-block;
    text-align: center;
    padding: 133px 393px 90px 393px;

}

.grid_block
{
    display: grid;
    grid-gap: 30px 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 60px;
}

.grid_item
{
    display: inline-block;
    background: black;
    height: 190px;
    width: 358px;
    border-radius: 7px;
    margin-left: 39px;
    text-align: left;
    margin-top: 39px;
}

.grid_image
{
    padding-left: 39px;
    padding-top:32px;
    padding-bottom: 20px;
}

.text_grid
{
    padding-left: 39px;
    max-width: 286px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 21px;
    font-size: 19px;
    color: #FFFFFF;
    font-weight: 400;
}

.table_title,
.table_title_pink
{
    display: inline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
    font-size: 48px;
    font-weight: 500;
  }

.form_block
{
    display: block;
    background: black;
    height: 694px;
    width: 1920px;
}

.subscribe_form
{
    display: flex;
    padding: 301px 250px 17px 250px;
}

.email,
.name
{
    width: 340px;
    height: 64px;
    font: 500 18px/22px 'Montserrat', sans-serif;
    color: #999999;
    padding-left: 28px;
    margin-right: 20px;
}

.subscribe_form_button
{
    text-decoration: none;
    padding: 19px 40px 19px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #05090C;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #FFFFFF;
    text-align: center;
    margin-left: 20px;
    height: 68px;
    width: 340px;
    cursor: pointer;
}

.select
{
    width: 340px;
    height: 68px;
    font: 500 18px/22px 'Montserrat', sans-serif;
    color: #999999;
    padding-left: 28px;
    cursor: pointer;
}

.checkbox

{
    padding-left: 250px;
    display: inline-flex;
}

.custom-checkbox>input
{
    position: absolute;
    z-index: -1;
    opacity: 0;
}


.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    margin-right: 20px;
}

.custom-checkbox>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #EE58B6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before
{
    border-color: #C0C0C0;
    cursor: pointer;
}

.agreement
{
    margin-left: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 22px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}
